[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WebAnalytics"]
	path = WebAnalytics
	url = https://github.com/gregfrog/webanalytics
[submodule "brew"]
	path = brew
	url = https://github.com/gregfrog/brew
